@model IEnumerable<Shopping.DomainModel.ViewModel.Orders.OrderItemsViewModel>
@{
    var t = Model.Sum(x => x.UnitPrice * x.Quantity);
}
<main class="cart-page default">
    <div class="container">
        <div class="row">
            <div class="cart-page-content col-xl-9 col-lg-8 col-md-12 order-1">
                <div class="cart-page-title">
                    <h1>سبد خرید</h1>
                </div>
                <div class="table-responsive checkout-content default">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th scope="col">عکس محصول</th>
                                <th scope="col">نام محصول</th>
                                <th scope="col">تعداد سفارش محصول</th>
                                <th scope="col">مبلغ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr class="checkout-item">
                                    <td>
                                        <img src="@Url.Content(item.Image)" height="100" width="100" alt="">
                                        <button class="checkout-btn-remove basket-item-remove" data-productid=@item.ProductID></button>

                                        
                                    </td>
                                    <td>
                                        <h3 class="checkout-title">
                                            @item.ProductName
                                        </h3>
                                    </td>
                                 
                                   <td>

                                        <div class="btnQuntity">
                                            <button class="btnplus Addplus" data-productid=@item.ProductID>
                                                <i class="fa fa-plus btnQuntityi " aria-hidden="true"></i>
                                            </button>
                                            <span class="btnQuntity">@item.Quantity</span>
                                            <button class="btnminus Addminus" data-productid=@item.ProductID>
                                                <i class="fa fa-minus btnQuntityi" aria-hidden="true"></i>
                                            </button>
                                        </div>


                                   </td>
                                    <td>@(item.Quantity * item.UnitPrice) تومان</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <aside class="cart-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-2">
                <div class="checkout-aside">
                    <div class="checkout-summary">
                        <div class="checkout-summary-main">
                            <ul class="checkout-summary-summary">
                                <li><span>مبلغ کل (۱ کالا)</span><span>@t تومان</span></li>
                                <li>
                                    <span>هزینه ارسال</span>
                                    <span>
                                        وابسته به آدرس<span class="wiki wiki-holder">
                                            <span class="wiki-sign"></span>
                                            <div class="wiki-container js-dk-wiki is-right">
                                                <div class="wiki-arrow"></div>
                                                <p class="wiki-text">
                                                    هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده
                                                    متفاوت باشد. در
                                                    صورتی که هر
                                                    یک از مرسولات حداقل ارزشی برابر با ۱۰۰هزار تومان داشته باشد،
                                                    آن مرسوله
                                                    بصورت رایگان
                                                    ارسال می‌شود.<br>
                                                    "حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر
                                                    باشد."
                                                </p>
                                            </div>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="checkout-summary-devider">
                                <div></div>
                            </div>
                            <div class="checkout-summary-content">
                                <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                <div class="checkout-summary-price-value">
                                    <span class="checkout-summary-price-value-amount">@t</span>تومان
                                </div>
                                <a href="/Orders/Payment" class="selenium-next-step-shipping">
                                    <div class="parent-btn">
                                        <button class="dk-btn dk-btn-info">
                                            ادامه ثبت سفارش
                                            <i class="now-ui-icons shopping_basket"></i>
                                        </button>
                                    </div>
                                </a>
                                <div>
                                    <span>
                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی
                                        را تکمیل
                                        کنید.
                                    </span>
                                    <span class="wiki wiki-holder">
                                        <span class="wiki-sign"></span>
                                        <div class="wiki-container is-right">
                                            <div class="wiki-arrow"></div>
                                            <p class="wiki-text">
                                                محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش
                                                برای شما رزرو
                                                می‌شوند. در
                                                صورت عدم ثبت سفارش، تاپ کالا هیچگونه مسئولیتی در قبال تغییر
                                                قیمت یا موجودی
                                                این کالاها
                                                ندارد.
                                            </p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-feature-aside">
                        <ul>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-guarantee">
                                هفت روز
                                ضمانت تعویض
                            </li>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-cash">
                                پرداخت در محل با
                                کارت بانکی
                            </li>
                            <li class="checkout-feature-aside-item checkout-feature-aside-item-express">
                                تحویل اکسپرس
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>