@model Shopping.DomainModel.ViewModel.Categories.CategorySearch_VM 
<script src="~/assets/js/core/jquery.3.2.1.min.js" type="text/javascript">
</script>
<main class="search-page default">
    <div class="container">
        <div class="row">
            <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-3 order-1">
                @await Component.InvokeAsync("CategoryResult",Model.CategoryName)
            </aside>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2">
                <div class="breadcrumb-section default">
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="/">
                                <span>فروشگاه اینترنتی تاپ کالا</span>
                            </a>
                        </li>
                        <li><span>جستجوی @Model.CategoryName</span></li>
                    </ul>
                </div>
                <div class="listing default">
                    <div class="listing-counter">@(Model.RecordCount) کالا</div>
                    @await Html.PartialAsync("OrderBy")
                    @await Html.PartialAsync("CategoryProductList",Model.CategoryProductListItems);
                    @if (Model.pageCount > 0)
                    {
                        <div class="pager default text-center">

                            <ul class="pager-items">
                                @for (int i = 1; i <= Model.pageCount; i++)
                                {
                                    var pageIndex = i;
                                    <li><a class="@(Model.pageCount == i ? "pager-item is-active" : "pager-item")" href="@Url.Action("Index","Category",new{CategoryName =@Model.CategoryName , pageIndex = i})">@i</a></li>
                                }
                                <line class="pager-items--partition"></line>
                                <li>
                                    <a class="pager-next"></a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
<input type="hidden" value="@Model.CategoryName" id="catName" />
<input type="hidden" value="@Model.pageCount" id="pageIndex" />
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            let clicker = document.querySelectorAll('a[data-toggle="tab"]')
            
            let url = "/Category/CategoryProductList";
            clicker.forEach(function (item) {
                item.addEventListener("click", function () {
                    var obj = {
                        OrderBy: item.textContent,
                        CategoryName: $('#catName').val(),
                        PageIndex: $('#pageIndex').val(),
                    };
                    $.post(url, obj, function (data) { $('.tab-content.default.text-center').html(data) });
                });
            })
        });
    </script>
}
