@model IEnumerable<Shopping.DomainModel.DTO.OrdersAndOrderDetials.OrderListItem>

@{
    Layout = null;
  
}

<table class="table table-bordered table-hover table-striped table-sm">
    <thead class="bg-info">
        <tr>
            <th>
               شناسه
            </th>
            <th>
               کاربر
            </th>
            <th>
              توضیحات
            </th>
            <th>
               تاریخ
            </th>
            <th style="width:180px">
               آدرس
            </th>
            <th>
               تاریخ تحویل
            </th>
            <th>
                قیمت کل
            </th>
            <th>
                وضعیت
                
            </th>
            <th class="text-center">
                <Span>جزییات</Span>
            </th>
        </tr>
    </thead>
    <tbody>
          @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td style="width:155px">

                        <select id="tr_@item.IsFainaly" asp-for="@item.IsFainaly" data-values="@item.IsFainaly" class="form-control input-control Fainaly" data-id="@item.OrderID" style="width: 100%; height: 38px; border-radius: 10px;">
                            <option id="val1" value="1">در انتظار پرداخت</option>
                            <option id="val2" value="2">تکمیل شده</option>
                        </select>
                    </td>
                    <td>
                        <a title="حذف" class="btn btn-primary" href='@Url.Action("OrderDetailsAdmin","OrdersAdmin",  new {  id= item.OrderID })'>
                          جزییات
                     </a>

                    </td>
                </tr>
            }
            <tr class="text-center direction-ltr">
                <td colspan="9">
                    @{
                        Shopping.DomainModel.DTO.OrdersAndOrderDetials.OrderSearchModel sm = (Shopping.DomainModel.DTO.OrdersAndOrderDetials.OrderSearchModel)ViewBag.sm;
                    }





                    <ul class="pagination">
                        @for (int i = 0; i < sm.pageCount; i++)
                        {

                            if (sm.PageIndex != i)
                            {
                                <li class="page-item">
                                    @Html.ActionLink("Page " + (i + 1), "Index", "OrdersAdmin",new Shopping.DomainModel.DTO.OrdersAndOrderDetials.OrderSearchModel
                        {
                        pageCount = sm.pageCount,
                        RecordCount = sm.RecordCount,
                        PageSize = 10,
                        Mobile = sm.Mobile,OrderID=sm.OrderID,
                        PageIndex = i
                        }, new { @class = "page-link" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item active">
                                    @Html.ActionLink("Page " + (i + 1), "Index", "OrdersAdmin", new Shopping.DomainModel.DTO.OrdersAndOrderDetials.OrderSearchModel
                        {
                        pageCount = sm.pageCount,
                        RecordCount = sm.RecordCount,
                        PageSize = 10,
                        Mobile = sm.Mobile,OrderID=sm.OrderID,
                        PageIndex = i
                        }, new { @class = "page-link" })
                                </li>
                            }


                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

