@using System.Security.Claims
@{
    ViewData["Title"] = "PanelAdmin";
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="~/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/dist/css/rtl.css">
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <script src="~/js/sweetalert2.min.js"></script>
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
    <link rel="stylesheet" href="~/dist/css/customize-adminlte.css" />
    <link rel="stylesheet" href="~/css/StyleAdmin.css" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>پنل مدیریت تاپ کالا</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۴ پیام خوانده نشده</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    علیرضا
                                                    <small><i class="fa fa-clock-o"></i> ۵ دقیقه پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نگین
                                                    <small><i class="fa fa-clock-o"></i> ۲ ساعت پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نسترن
                                                    <small><i class="fa fa-clock-o"></i> امروز</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نگین
                                                    <small><i class="fa fa-clock-o"></i> دیروز</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نسترن
                                                    <small><i class="fa fa-clock-o"></i> ۲ روز پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش تمام پیام ها</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">۱۰</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۱۰ اعلان جدید</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> ۲۵ سفارش جدید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> نام کاربریتان را تغییر دادید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش همه</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">۹</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۹ کار برای انجام دارید</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    ساخت دکمه
                                                    <small class="pull-left">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    ساخت قالب جدید
                                                    <small class="pull-left">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    تبلیغات
                                                    <small class="pull-left">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    ساخت صفحه فرود
                                                    <small class="pull-left">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">نمایش همه</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/avatar5.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.FindFirstValue("FullName")</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/dist/img/avatar5.png" class="img-circle" alt="User Image">

                                    <p>
                                        @User.FindFirstValue("FullName")
                                        <small>مدیریت کل سایت</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">صفحه من</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">فروش</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">دوستان</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href='@Url.Action("Profile", "UserManagement",  new {  id= @User.FindFirstValue("UserID") })' class="btn btn-default btn-flat">پروفایل</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="/Account/SignOut" class="btn btn-default btn-flat">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-right image">
                        <img src="~/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-right info">
                        <p>@User.FindFirstValue("FullName")</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="جستجو">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">منو</li>
                    <li class=" treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>داشبرد فروشگاه</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/ProductManag"><i class="fa fa-circle-o"></i>محصولات</a></li>
                            <li><a href="/CategoryManagement"><i class="fa fa-circle-o"></i>دسته بندی</a></li>
                            <li><a href="/SupplierManagment"><i class="fa fa-circle-o"></i>تولیدکنندگان </a></li>
                            <li><a href="/FeatureManagement"><i class="fa fa-circle-o"></i>ویژگی ها</a></li>
                            <li><a href="/KeyWordManagement"><i class="fa fa-circle-o"></i>کلمه های کلیدی</a></li>


                        </ul>
                    </li>
                    <li class=" treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>داشبرد امنیت</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/UserManagement"><i class="fa fa-circle-o"></i> کاربران</a></li>
                            <li><a href="/RoleManagement"><i class="fa fa-circle-o"></i> نقش ها</a></li>
                            <li><a href="/RoleActionManagement"><i class="fa fa-circle-o"></i> دسترسی ها</a></li>
                            <li><a href="/ProjectActionManagement"><i class="fa fa-circle-o"></i> اکشن ها</a></li>
                            <li><a href="/ProjectControllerManagement"><i class="fa fa-circle-o"></i> کنترلرها</a></li>
                            <li><a href="/ProjectAreaManagement"><i class="fa fa-circle-o"></i> اریا</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='/OrdersAdmin'>
                            <i class="fa fa-shopping-cart" style="color:white" aria-hidden="true"></i>
                            <span>سفارشات</span>
                        </a>

                    </li>
                   
                    <li>
                        <a href='@Url.Action("Profile", "UserManagement",  new {  id= @User.FindFirstValue("UserID") })'>
                            <i class="fa fa-user"></i> <span>پروفایل</span>
                        </a>

                    </li>
                   

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer text-left">
            <strong>
                Copyleft &copy; 2014-2017 <a href="https://tahlildadeh.com">آموزشگاه تحلیل داده</a> & <a href="#">Morteza Shahsavari</a>
            </strong>
        </footer>

        <!-- Control Sidebar -->
       
        <div class="control-sidebar-bg"></div>
    </div>
 
    <
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/js/Managmenet.js"></script>
</body>

</html>